
<div class="h-100 px-2 thin-scroller darker-bg1" id="button-container" style="">
    <button class="btn btn-lg btn-secondary fw-bold border-white bg-white px-5">+</button>
</div>
<div class="d-flex w-100 h-100 p-3 pb-2 mx-auto flex-column" style="overflow-y:auto;">
    <%- include('./components/ejs/nav-header') %>
    <main class="px-0">
        <div class="row">
            <div class="w-100 pt-1 pb-0"><div id="alert-area"></div></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row mb-1">
                    <small class="text-start m-1">General</small>
                    <div class="col pe-1">
                        <div class="d-flex">
                            <input type="text" class="form-control form-control-sm form-secondary" id="app-id" placeholder="Discord Application ID" data-bs-toggle="tooltip" title="YOUR Discord Application ID.">
                            <button class="btn p-0 no-shadow hover-secondary ms-1" id="force-refresh-data" data-bs-toggle="tooltip" title="Refresh application data from discord developer portal.">
                                <i class="fas fa-fw fa-retweet"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col ps-1">
                        <div class="d-flex">
                            <input type="text" class="form-control form-control-sm form-secondary" id="app-image" placeholder="img/icon.png" data-bs-toggle="tooltip" title="The activity image in the left sidebar. Only used in this app.">
                            <button class="btn p-0 no-shadow hover-secondary ms-1" id="force-app-icon" data-bs-toggle="tooltip" title="Pull activity image from dev portal application icon data.">
                                <i class="fas fa-fw fa-angle-double-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col pe-1">
                        <div class="d-flex">
                            <input type="text" class="form-control form-control-sm form-secondary" id="app-details" placeholder="DiscordRPC by DekitaRPG"  data-bs-toggle="tooltip" title="Activity text: Line 1">
                            <button class="btn p-0 no-shadow hover-secondary ms-1" id="force-app-details" data-bs-toggle="tooltip" title="Pull Text from dev portal application details.">
                                <i class="fas fa-fw fa-angle-double-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col ps-1">
                        <div class="d-flex">
                            <input type="text" class="form-control form-control-sm form-secondary" id="app-state" placeholder="{servers} Servers | {players} Players"  data-bs-toggle="tooltip" title="Activity text: Line 2">
                            <button class="btn p-0 no-shadow hover-secondary ms-1" id="force-app-state" data-bs-toggle="tooltip" title="Pull Text from dev portal application summary.">
                                <i class="fas fa-fw fa-angle-double-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <small class="text-start m-1">Images</small>
                    <div class="col pe-1 d-none"> <!-- removed display: todo: remove fully -->
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-img1-key" placeholder="large-image">
                    </div>
                    <div class="col pe-1" data-bs-toggle="tooltip" title="Large image asset key">
                        <select class="dekselect dekselect-secondary" id="image-select-one">
                            <option>large-image</option>
                        </select>
                    </div>
                    <div class="col px-1" data-bs-toggle="tooltip" title="Text shown for large image">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-img1-text" placeholder="Some Text...">
                    </div>
                    <div class="col-2" data-bs-toggle="tooltip" title="Enable/Disable large image">
                        <div class="dekcheckbox multicheck pt-1 pb-0 check-dark" id="app-rpc-img1-enabled">
                            <ul class="m-0"><li class="m-0 p-0" id="app-rpc-img1-enabled-text">--</li></ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col pe-1 d-none"> <!-- removed display: todo: remove fully -->
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-img2-key" placeholder="small-image">
                    </div>
                    <div class="col pe-1" data-bs-toggle="tooltip" title="Small image asset key">
                        <select class="dekselect dekselect-secondary" id="image-select-two">
                            <option>small-image</option>
                        </select>
                    </div>
                    <div class="col px-1" data-bs-toggle="tooltip" title="Text shown for small image">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-img2-text" placeholder="Some Text...">
                    </div>
                    <div class="col-2" data-bs-toggle="tooltip" title="Enable/Disable small image">
                        <div class="dekcheckbox multicheck pt-1 pb-0 check-dark" id="app-rpc-img2-enabled">
                            <ul class="m-0"><li class="m-0 p-0" id="app-rpc-img2-enabled-text">--</li></ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <small class="text-start m-1">Buttons</small>
                    <div class="col pe-1" data-bs-toggle="tooltip" title="Text shown for Button 1">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-btn1-text" placeholder="Invite">
                    </div>
                    <div class="col px-1" data-bs-toggle="tooltip" title="URL when click Button 1">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-btn1-url" placeholder="https://dekitarpg.com">
                    </div>
                    <div class="col-2" data-bs-toggle="tooltip" title="Enable/Disable Button 1">
                        <div class="dekcheckbox multicheck pt-1 pb-0 check-dark" id="app-rpc-btn1-enabled">
                            <ul class="m-0"><li class="m-0 p-0" id="app-rpc-btn1-enabled-text">--</li></ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col pe-1" data-bs-toggle="tooltip" title="Text shown for Button 2">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-btn2-text" placeholder="Website">
                    </div>
                    <div class="col px-1" data-bs-toggle="tooltip" title="URL when click Button 2">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-btn2-url" placeholder="https://dekitarpg.com">
                    </div>
                    <div class="col-2" data-bs-toggle="tooltip" title="Enable/Disable Button 2">
                        <div class="dekcheckbox multicheck pt-1 pb-0 check-dark" id="app-rpc-btn2-enabled">
                            <ul class="m-0"><li class="m-0 p-0" id="app-rpc-btn2-enabled-text">--</li></ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <small class="text-start m-1">Advanced</small>
                    <div class="col-4 pe-1" data-bs-toggle="tooltip" title="Custom URL to poll. Should return JSON data">
                        <input type="text" class="form-control form-control-sm form-secondary" id="app-api-url" placeholder="http://localhost/bot-stats">
                    </div>
                    <div class="col-2 px-1" data-bs-toggle="tooltip" title="URL Poll Frequency (seconds)">
                        <input type="number" step="1" min="60" class="form-control form-control-sm form-secondary" id="app-api-frequency" placeholder="300">
                    </div>
                    <div class="col-2 ps-1" data-bs-toggle="tooltip" title="RPC Update Frequency (seconds)">
                        <input type="number" step="1" min="15" class="form-control form-control-sm form-secondary" id="app-rpc-frequency" placeholder="15">
                    </div>
                    <div class="col-4" data-bs-toggle="tooltip" title="Enable/Disable Activity Timestamp">
                        <div class="dekcheckbox multicheck pt-1 pb-0 check-dark" id="app-rpc-timestamp-enabled">
                            <ul class="m-0"><li class="m-0 p-0" id="app-rpc-timestamp-enabled-text">--</li></ul>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col pe-1">
                        <button id="delete-activity" class="btn btn-danger fw-bold w-100">
                            <i class="fas fa-trash-alt me-2"></i><span>Delete</span>
                        </button>
                    </div>
                    <div class="col px-1">
                        <button id="developer-portal" class="btn btn-secondary fw-bold w-100">
                            <i class="fab fa-discord me-2"></i><span>Dev Portal</span>
                        </button>
                    </div>
                    <div class="col px-1">
                        <button id="save-activity" class="btn btn-primary fw-bold w-100">
                            <i class="fas fa-save me-2"></i><span>Save</span>
                        </button>
                    </div>
                    <div class="col ps-1">
                        <button id="launch-activity" class="btn btn-success fw-bold w-100">
                            <i class="fas fa-play me-2"></i><span>Launch</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="" style="width: 280px;">
                <small class="text-start m-1">Preview</small>
                <div class="card theme-border mt-1" style="">
                    <div class="card-body text-start p-0">
                        <div class="card-title p-3">
                            <img src="img/icon.png" class="img-fluid img-thumbnail rounded-circle" style="height: 64px;">
                        </div>
                        <div class="px-2 pt-4">
                            <h4 class="mb-0 whitney-thick">Username<span style="opacity: 0.5;">#0690</span></h4>
                            <small class="card-text ">I'm a status example!</small>
                            <hr class="m-1 mt-2">
                            <small class="card-text"><strong>PLAYING A GAME</strong></small>
                            <div class="mb-2 mt-1">
                                <div class="row">
                                    <div class="col-4 position-relative" id="preview-image-container">
                                        <img src="img/icon.png" class="img-fluid rounded-circle" id="app-preview-image">
                                        <div class="position-absolute end-0 pe-1" style="bottom: -2px;">
                                            <img src="img/icon.png" class="img-fluid img-thumbnail rounded-circle" id="app-preview-image-sm"  style="height: 26px; padding: 2px;">
                                        </div>
                                    </div>
                                    <div class="col-8 mb-2" id="preview-image-textrow">
                                        <div class="row">
                                            <strong id="app-preview-name">App Name</strong>
                                            <small id="app-preview-details">Details</small>
                                            <small id="app-preview-state">State</small>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-grey btn-sm whitney-thick w-100 mt-2" id="preview-btn1">--</a>
                                <a href="#" class="btn btn-grey btn-sm whitney-thick w-100 mt-2" id="preview-btn2">--</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toast-container position-absolute bottom-0 end-0 p-3", id="main-toast-container">
                <!-- programatically put bread in the toaster -->
            </div>
        </div>
    </main>
    <footer class="d-flex mt-auto mb-0 text-white-50">
        <div class="w-50 text-start">
            <i class="fas fa-fw fa-user-friends"></i>
            <small id="user-counter-display">...</small>
            <small>Users Today</small>
        </div>
        <div class="w-50 text-end">
            <small class="m-0" data-bs-toggle="tooltip" title="Click to visit the developers website">
                <b><a href="https://dekitarpg.com/" class="hover-secondary">Created By @DekitaRPG</a></b>
            </small>
        </div>
    </footer>
</div>

<%- include('./components/ejs/modal-stop') %>
<%- include('./components/ejs/modal-delete') %>
<%- include('./components/ejs/modal-settings') %>
<%- include('./components/ejs/modal-themes') %>
